<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线OJ</title>
    <link href="./view/all_q.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header"><img src="./view/img/title.png"></div>
<div style="position: relative; top:20px; left: 15%;margin-bottom: 20px">首页>在线编程>剑指offer</div>
<div id="content">
        <div id="intro"><h2 style="margin-bottom: 10px">专题训练</h2>
            <p style="margin: 20px">
                该专题为剑指offer专题，题目均来自《剑指offer》，里面每道题带有练习模式和考试模式，可还原考试模式进行模拟，也可通过练习模式进行练习。
            </p>
        </div>
        <div id="questions">
            <table>
                <tr>
                    <th style="width: 50px">题号</th>
                    <th style="width: 160px">考点</th>
                    <th style="width: 320px">题目</th>
                    <th style="width: 100px">难度</th>
                    <th style="width: 80px">通过率</th>
                </tr>
            </table>
            <div style="text-align: center;font-size: 50px;color: blue;line-height: 300px;background-color: Gainsboro ;">登录后可显示题目信息</div>
        </div>
</div>
<div id="else">
    <div id="t">
        <h3 style="display: inline;margin: 10px; width:15px" >
        <script type="text/javascript">
            var out = document.getElementById("t");
            var t = new Date();
            var arr = new Array("星期日","星期一","星期二","星期三","星期四","星期五","星期六");
            document.write(arr[t.getDay()]);
            document.write("<br>");
            document.write("&ensp;"+(t.getMonth()+1)+"-"+t.getDate());
        </script>
        </h3>
    </div>
    <div id="scult"></div>
    <h3 style="text-align: center;margin-top: 5px"><a href="/login">{{usr}}</a></h3>
</div>
</body>

</html>
